* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 2% 1%;
  background-color: gainsboro;
}
.head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  height: 60%;
  color: rgb(38, 38, 38);
  margin: 0px 30px 0px 30px;
  padding: 5px 10px 0px 10px;
}
.head h3 {
  font-weight: 900;
}
.div1 {
  display: grid;
  grid-template-columns: 40% 60%;
  place-items: center;
}
.slogan {
  display: inline-block;
  width: 80%;
  color: rgb(38, 38, 38);
  text-align: center;
}
.slogan h1 {
  margin: 0px 5px;
  font-weight: 9000;
  font-size: 35px;
}
.download {
  text-decoration: none;
  background-color: royalblue;
  border-radius: 7px;
  padding: 5px 20px;
  font-weight: 900;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  color: white;
  display: inline-block;
  width: 130px;
}

.photo {
  display: inline;
}
.photo img {
  width: 300px;
  height: 237px;
  margin: 20px 0px;
  border-radius: 10px;
}
.features {
  background-color: lightcyan;
  margin: 0px 30px 0px 30px;
  height: 50%;
  color: rgb(38, 38, 38);
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-rows: 20% 80%;
}
.features h3 {
  margin: 0px;
  padding: 20px 0px;
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}
.fea_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  background-color: white;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
  height: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card div {
  font-size: 40px;
}
.card p {
  font-size: 20px;
}
.div3 {
  padding: 0px;
  margin: 0px;
  background-color: white;
  margin: 0px 30px 0px 30px;
  padding: 5px 10px 0px 10px;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.testimonials h1 {
  text-align: center;
  margin: 0px;
  padding: 15px;
}
.card_div {
  display: grid;
  grid-template-columns: 50% 50%;
}
.card_2 {
  margin: 20px;
  height: 80%;
  border-radius: 30px;
  background-color: lightcyan;
  display: grid;
  grid-template-columns: 30% 70%;
}
.card_2 img {
  width: 70%;
  height: 70%;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}
.div2{
  margin: 4%;
}
.div2 p {
  padding: 0px;
  margin: 10px auto 0px auto;
  font-weight: 500;
  font-size: 130%;
}
.div2 h4 {
  font-weight: 900;
  font-size: 140%;
  padding: 0px;
  margin: 10px auto 0px auto;
}
.card_3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  text-align: center;
}
.card_3 .card_4 {
  width: 40%;
  height: 80%;
  place-self: end;
  border: 3px solid lightcyan;
  padding: 10px 20px;
  border-radius: 20px;
}
.card_3 .card_5 {
  width: 40%;
  height: 80%;
  place-self: start;
  border: 3px solid lightcyan;
  padding: 10px 20px;
  border-radius: 20px;
}
.card_4 h3{
  margin: 1%;
  font-size: 25px;
  font-weight: 900;
}
.card_5 h3{
  margin: 1%;
  font-size: 23px;
  font-weight: 900;
}
.card_4 p,
.card_5 p {
  font-size: 20px;
  font-weight: 500;
}
.plan_tag {
  text-decoration: none;
  border: none;
}
.plan_tag{
  display: grid;
  grid-template-rows: 100%;
}
.plan_tag h2 {
  border-radius: 20px;
  background-color: lightcyan;
  width: 20%;
  line-height: 35px;
  text-align: center;
  place-self: center;
  height: 50%;
  color: rgb(38, 38, 38);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.social {
  margin: 10px 20px;
}
.footer {
  display: grid;
  grid-template-columns: 50% 50%;
}
.social a {
  text-decoration: none;
  color: rgb(38, 38, 38);
  font-size: 30px;
  padding: 10px;
}
.div4 {
  justify-self: end;
  font-size: 20px;
}
.div4 h3 {
  padding: 0px;
  margin: 10px 20px;
  font-weight: 500;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plan_tag h2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.download:hover {
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.social a:hover {
  opacity: 0.7;
}
@media (min-width:1050px) and(max-width:1030px){
  .features{
    height: 480px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
  }
  .card{
    padding: 3%;
    margin: 3%;
  }
  .fea_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}
@media (max-width:1049px){

  .features{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    height: 550px;
  }
  .fea_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .card_div{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,1fr);
  }
  .plan_tag h2{
    width: 30%;
  }
}
@media (max-width:719px){
  .div1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
}
@media (max-width:600px){
  .head{
    height: 600px;
  }
  .div1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 70%;
  }
  .head h3{
    margin: 3% 0;
    padding: 2% 0;
  }
  .features{
    height: 850px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }
  .card{
    margin: 2%;
    padding: 2%;
  }
  .fea_card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,1fr);
  }
  .plan_tag h2{
    width: 50%;
  }
}
@media (max-width:500px){
  .card_2 img{
    width: 65%;
    height: 50%;
  }
  .card_3{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
  }
  .card_3 .card_4, .card_3 .card_5{
    place-self: center;
  }
}
@media (max-width:490px){
  .head{
    height: 650px;
  }
  .features{
    height: 1200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }
  .card{
    margin: 5%;
    padding: 5%;
  }
  .social{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
  }
  .social a{
    place-self: center;
    margin: 0px;
    padding: 0px;
  }
}
@media (min-width:300px) and (max-width:400px){
  .div1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
  }
  .head{
    height: 30%;
  }
  .photo img{
    width:190px;
    height: 127px;
    margin: 15px 0px 40px 0px;
  }
  .features{
    height: 1050px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
  }
  .card{
    margin: 5%;
    padding: 5%;
  }
  .test{
    font-size: 25px;
  }
  .card_2{
    display: grid;
    height: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
  .card_2 img{
    width: 50%;
    height: 100%;
    margin-top: 20px;
  }
  .card_4 h3{
    font-size: 20px;
  }
  .card_5 h3{
    font-size: 20px;
  }
  .plan_tag h2{
    height: 50%;
    width: 60%;
  }
  .footer{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
  }
  .social{
    display: none;
    visibility: hidden;
  }
}